body {
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial,
      sans-serif;
  }

  #header {
    width: 100%;
    height: 60px;
    border: 0px solid;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
  }

  #header > div {
    border: 0px solid red;
    height: 50px;
    width: 100%;
    padding-top: 20px;
  }
  #header img {
    width: 80%;
    height: 100%;
  }
  #header > div > a {
    text-decoration: none;
    color: black;
  }

  #container {
    border: 1px solid lightgray;
    height: 80px;
    margin: auto;
    display: flex;
    justify-content: center;
    box-sizing: inherit;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  #container ul {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 1.2rem;
    border: 0px solid darkcyan;
    padding-top: 10px;
  }
  #container ul li {
    list-style-type: none;
  }
  li a {
    text-decoration: none;
    color: grey;
  }
  #heading {
    border: 0px solid red;
    width: 90%;
    margin: auto;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial,
      sans-serif;

    text-align: center;
    line-height: 4.2rem;

    color: rgb(47, 48, 49);
  }

  #heading > h2 {
    color: gray;
    font-size: 15px;
    font-weight: lighter;
  }
  #box {
    width: 90%;
    margin: auto;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  #box > div {
    border: 1px solid lightgray;
    text-align: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 4px 4px 0px;
  }
  #box > div h3 {
    color: teal;
    font-size: 30px;
  }

  #feature {
    margin-top: 150px;
    width: 100%;
    border: 1px solid;
    height: 500px;
    box-sizing: inherit;
    display: grid;
    grid-template-columns: 800px 50px 700px;
  }
  #feature div {
    border: 1px solid red;
    width: 90%;
  }
  #feature > div h3 {
    color: grey;
  }
  #feature > div img {
    width: 100%;
    height: 400px;
  }
  hr {
    margin-right: 100px;
    height: 100%;
  }
  #feature > div > div {
    width: 100%;
    background-color: #037362;
    height: 1.2rem;
    margin: auto;
  }
  #feature > div > div + h3 {
    color: black;
    font-weight: lighter;
    font-size: 25px;
  }
  #feature p {
    font-size: 20px;
    color: rgb(41, 41, 41);
  }